<div class="d-flex flex-row ma-2">
    <div class="w-auto">
        {% set avatar = 'avatar_1.jpg' %}
        <img src="{{ url_for('static', filename='images/' + avatar) }}" class="w-8 h-8 rounded-full" alt="Profile Picture">
    </div>

    {% include "___post_container.html" %}
</div>

<div id="posts">
    {% for tweet in tweets %}
        {% set tweet_img = tweet.image_path or 'unknown.jpg' %}
        {% set tweet_avatar = tweet.user_avatar_path or 'avatar_1.jpg' %}

        {% include "_tweet.html" with context %}
    {% endfor %}
</div>
